
#
#my first work

In [1]:
print("my name is resmi")

my name is resmi

In [2]:
print("Hello, world!")

Hello, world!

In [4]:
y=2222

print(y)

2222

In [5]:

print("hello revathy")

hello revathy

variable names

In [6]:
myvariable=2
print(myvariable)

#MyVariable7=1
#MyVariable7
#MyVariable7
#myvariable
#my_variable
#MYVARIABLE
#myvariable

2

In [7]:
2myvariable

SyntaxError: invalid syntax (1225951047.py, line 1)

In [8]:
My variable=1
My variable

SyntaxError: invalid syntax (3546167299.py, line 1)

In [9]:
my+variable

NameError: name 'my' is not defined

In [10]:
a=3.0
a
#print(a)

3.0

In [11]:
a="hello world"
print(a)
c=12
print(c)
b=True
print(b)

hello world
12
True

In [12]:
#to give input through userlevel
name=input("enter the name\t")
print(name)

enter the name	akash
akash

In [14]:
name=input("enter the name\t")
place=input("enter the place\n")
print(name,"\n",place)

enter the name	akash
enter the place
tcr
akash
 tcr

In [15]:
marks1=float(input("enter the mark1\n"))
marks2=int(input("enter the mark2\n"))
print(marks1+marks2)

enter the mark1
23
enter the mark2
45
68.0

to check the datatype

In [16]:
a=6
print(a)
print(type(a))

6
<class 'int'>

In [17]:
w=True
print(type(w))

<class 'bool'>

In [18]:
ab=6.5
print(type(ab))

<class 'float'>

In [19]:
s="hello world"
print(type(s))

<class 'str'>

In [20]:
#to check the type of data
s2=True
s3=False
print(type(s2))
print(type(s3))

<class 'bool'>
<class 'bool'>

In [21]:
x = str(3)   # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print("",x, "\n", y, "\n", z)
print(type(x))
print(type(y))
print(type(z))

 3
 3
 3.0
<class 'str'>
<class 'int'>
<class 'float'>

In [22]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [1]:
x, y, z = 1, 2.0, "Cherry"
print(x)
print(y)
print(z)

1
2.0
Cherry

In [2]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [3]:
x = "Python is awesome"
print(x)

Python is awesome

In [26]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [5]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python	is awesome

In [6]:
x=5
y=10.0
print(x + y)
print(type(x+y))

15.0
<class 'float'>

In [7]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:

def myfunc():
    x=input("enter the adjective\t")
    #u="awesome"
    print("Python is " + x)

enter the adjective	beautiful
Python is beautiful

In [15]:
e=6
def add():
    b=4
    print(e+b)
add()

print(b)

10

NameError: name 'b' is not defined

In [11]:
myfunc()

enter the adjective	vow
Python is vow

In [ ]:
myfunc()

In [ ]:
myfunc()

In [ ]:
x = "awesome"
def myfunc():
    print("python is "+ x)
    
myfunc()

In [ ]:
myfunc()

In [16]:
x = "s1"# x will be 's1'
y = str(2)   # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x,y,z)
print(type(y))

s1 2 3.0
<class 'str'>

In [17]:
def myfunc():
    num1=int(input("enter the num1"))
    num2=int(input("enter the num2"))
    y=num1+num2
    return(y)
    
myfunc()

enter the num16
enter the num27

13

In [ ]:
def myfunc():
    num1=int(input("enter the num1"))
    num2=int(input("enter the num2"))
    y=num1+num2
    return(y)
myfunc()

In [18]:
#Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[7])

W

In [19]:
##### a = "Hello, World!"
print(len(a))

13

Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.
Check if "free" is present in the following text:

In [22]:
txt = "The best things in life are free !"
print("free" in txt)
#print(len(txt))

True

In [ ]:
text = "the best things in life are"
print("free" in text)

In [23]:
#Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")
else:
    print("no, 'free' is not present.")

Yes, 'free' is present.

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [24]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

addition of float value

arithmetic operation

In [25]:
num1=float(input("enter the number\t"))
num2=float(input("enter the number\t"))
print(num1,num2)

enter the number	8
enter the number	9
8.0 9.0

In [ ]:
n1=float(input("enter the number\t"))
n2=float(input("enter the number\t"))
print(n1,n2)

print("addition",n1+n2)

In [26]:
print("addition", num1+num2)
print("subtraction", num1-num2)
print("multiplication", num1*num2)
print("division", num1/num2)
print("floor division", num1//num2)
print("remainder", num1%num2)
print("exponent", num1**num2)

addition 17.0
subtraction -1.0
multiplication 72.0
division 0.8888888888888888
floor division 0.0
remainder 8.0
exponent 134217728.0

relational operators

<,>,<=,>=,==,!=

In [27]:
print(4<7)

True

In [28]:
print(5<2)

False

In [29]:
print(4<=7)

True

In [30]:
print(7<=7)

True

In [31]:
print(4!=7)

True

In [32]:
print(4!=4)

False

In [33]:
print(4==4)

True

compound assignment operators
+=,
-=,*=,
/=,
%=,
//=

In [34]:
num=2
#num=num+1
num+=1
print(num)

3

In [ ]:
n=21
n//=2
print(n)

bank program

In [1]:
fixed_amount=100000
withdrawn=int(input("enter the withdrawing amt\t"))
balance=fixed_amount-withdrawn
print("your balance is",balance)

enter the withdrawing amt	111
your balance is 99889

In [2]:
fixedamount=10000
withdrawn=int(input("enter the withdrawing amount"))
balance=fixedamount-withdrawn
print("your balance is",balance)

enter the withdrawing amount888
your balance is 9112

swaping methods

In [3]:
num1=5
num2=10
print("before swaping num1&num2",num1,num2)
temp=num1
num1=num2
num2=temp
print("after swaping num1", num1)
print("after swaping num2", num2)

before swaping num1&num2 5 10
after swaping num1 10
after swaping num2 5

method2 without temporary variable

In [ ]:
num1=5
num2=10
print("before swaping num1 and num2",num1,num2)
num1,num2=num2,num1
print("after swaping num1", num1)
print("after swaping num2", num2)

control statements

controls flow of data

1, decision making
2,looping
3,Switching

decision making
1,if

2,if else

3,if elif else

bank program

In [4]:
fixed_amount=100000
withdrawn=int(input("enter amount to withdrawn"))
if withdrawn<=fixed_amount:
    balance=fixed_amount-withdrawn
    print("Your current balance",balance)
else:
    print("insufficient balance")

enter amount to withdrawn33333333333333
insufficient balance

positive or not

In [5]:
num=int(input("entre the number"))
if num>0:

    
    print("positive")
else:
    print("negative")

entre the number7
positive

In [7]:
num1=float(input("entre the number\n"))
if num1>0:
    print("positive")
elif num1<0:
    print("negative")
else:
    print("number is zero")

entre the number
0
number is zero

In [ ]:
###### num1== num2  num1is greater num2,num1lesser num2,
num1=int(input("entre the number1\t"))

num2=int(input("entre the number2\t"))
if (num1==num2):
    print("they are equal")
elif (num1<num2):
    print("num1 is less than num2")
else:
    print("num1 is greater than num2")

looping
1,for
2,while

"in" is a keyword
"range" is a function

#to print hello 5 times

In [8]:
for a in range(5):
    print(a,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [9]:
#to print within range 2 to 5
for a in range(2,5):
    print(a,"hello")

2 hello
3 hello
4 hello

In [1]:
#program to denote increment
for a in range(3,10,2):
    print(a)

3
5
7
9

In [2]:
#to decrement
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

In [4]:
#program to print multiplication table
num=int(input("enter the number"))
for i in range(1, 11):
    print(i,"*",num,"=",i*num)

enter the number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [6]:
#user input method of initial and final range and find even number
num1=int(input("enter the initial number\n"))
num2=int(input("enter the final number\n",))
for a in range(num1,num2+1):
    if a%2==0:
        print(a)

enter the initial number
7
enter the final number
20
8
10
12
14
16
18
20

In [9]:
#to print sum of natural number
num=int(input("enter the num\t "))
sum=0
for a in range(num+1):
    sum=sum+a
print(sum)

enter the num	 4
10

In [12]:
#factorial
num=int(input("enter the num"))
fact=1
for a in range(1,num+1):
    fact=fact*a
    print(fact)

enter the num7
1
2
6
24
120
720
5040

In [14]:
#while loop
#program to print 1 to 10 
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [16]:
#print multiplication table using while loop
i=1
num=int(input("enter the number"))
while i<11:
    print(i,"*",num,"=",i*num)
    i+=1

enter the number3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [17]:
#to print sum of natural numbers using while loop
n=int(input("enter the number"))
sum=0
i=0
while i<n: 
     i=i+1
     sum=sum+i
print ("sum of first",n," natural numbers",sum)

enter the number5
sum of first 5  natural numbers 15

#to print sum of natural numbers using while loop
num=int(input("enter the number"))
sum=0
i=0
while i<num: 
    i+=1
    sum=sum+i
print(sum)

In [19]:
#find factorial using while loop
num=int(input("enter the number"))
fact=1
i=1
while i<=num:
    fact=fact*i
    i=i+1
print(fact)

enter the number4
1
2
6
24

In [23]:
#to find the sum of even numbers between 10 to 20
num=int(input("enter the number"))
sum=0
for i in range(1,num+1):
    if(i%2==0):
        sum=sum+i
        print(sum)

enter the number6
2
6
12

Switching
#break
#continue

In [1]:
for i in range(5):
    if i==4:
        break
    print(i)

0
1
2
3

In [2]:
#continue
for i in range(6):
    if i==4:
        continue
    print(i)

0
1
2
3
5

In [ ]:
#string manipulation

In [3]:
s="livewire sahara"
for i in s:
    print(i)

l
i
v
e
w
i
r
e

s
a
h
a
r
a

In [6]:
#data iteration
s="livewire sahara"
k=input("enter the element to search\n")
flag=0
for i in s:
    if i==k:
        flag=1
        break
if flag==1:
    print("present")
else:
    print("not present")

enter the element to search
i
present

In [7]:
#+ve number -5 to 5
for i in range(-5,5+1):
    if i>0:
        print(i)

1
2
3
4
5

In [9]:
#check an element is present or not  in a string
s="abc"
e=input("enter the element\n")
if e in s:
    print("present")
else:
    print("not present")

enter the element
j
not present

or

In [16]:
s="abc"
e=input("enter the element\n")
if e not in s:
    print("not present")
else:
    print("present")
    #in string case only uses(in / not in )

enter the element
a
present

In [18]:
#TO print content of a in b
a="livesahara"
b=""
for i in a:
    b=b+i
print(b)

livesahara

In [22]:
#TO remove element from a string
s="livewire sahara"
b=input("enter the element to remove\n")
new=" "
for i in s:
    if i not in b:
        new=new+i
print(new)

enter the element to remove
e
 livwir sahara

In [24]:
#string concatenation
a="hi"
b="hello"
print(a+b)

hihello

In [25]:
#to count the element that uses input
s="livewire sahara"
e=input("enter the letter\n")
num=0
for i in s:
    if i in e:
        num+=1
print("count of ",e,"in",s,"=",num)

enter the letter
a
count of  a in livewire sahara = 3

In [26]:

#to find out count of vowels in string 
s="livewire sahara"
e="aeiouAEIOU"
count=0
for i in s:
    if i in e:
        count+=1
print("count of ",e,"in",s,"=",count)

count of  aeiouAEIOU in livewire sahara = 7

In [2]:
#to remove vowels from user input string
s=input("enter the string ")
e="aeiouAEIOU"
new=""
for i in s:
    if i not in e:
        new=new+i
print(new)

enter the string livewirwsahara
lvwrwshr

In [4]:
#to find the first recursive element
s=input("enter the string\t")
new=""
for i in s:
    if i not in new:
        new+=i
    else:
        print(i)
        break

enter the string	aaabbbccc
a

string indexing

In [11]:
s="livewire sahara"
print(s[-1])

a

In [8]:
#to find final recursive element

In [13]:
s=input("enter the string\n")
new=""
rep=""
for i in s:
    if i not in new:
        new+=i
    else:
        rep+=i
print("final recursive element from",rep,"is",rep[-1])

enter the string
aabbcc
final recursive element from abc is c

In [16]:
#to find second recursive element 
s=input("enter the string")
new=""
rep=""
for i in s:
    if i not in new:
        new+=i
    else:
        rep+=i
print("second recursive element" ,rep[1])

enter the stringaabbcc
second recursive element b

In [ ]:
#string slicing[index and data slicing are supported in python]

In [17]:
s="Livewire sahara"
print(s[2:5])

vew

In [18]:
print(s[2:10:2])
print(s[:])
print(s[::2])
print(s[::-1])

vwr
Livewire sahara
Lvwr aaa
arahas eriweviL

In [20]:
#paliandrome
s=input("enter the string\n")
if s[::]==s[::-1]:
    print("paliandrome")
else:
    print("not paliandrome")

enter the string
kerala
not paliandrome

In [21]:
#functions without  argumnets
def add():
    num1=int(input("enter num1\t"))
    num2=int(input("enter num2\t"))
    print(num1+num2)
    print("sum is",num1+num2)

In [22]:
add()

enter num1	6
enter num2	7
13
sum is 13

In [25]:
#functions with arguments
def add(num1,num2):
    sum=num1+num2
    return(sum)
    
add(4,8)
#a=add(4,8)
#ab

12

In [26]:
add(9,8)

17

In [ ]:
add(9,55)

In [ ]:
add(77,99)

In [ ]:
#functionwith argument and returntype

In [27]:
def add(n1,n2):
    return(n1+n2)
print(add(2,3))

5

In [ ]:
#to get output variable through input

In [28]:
def add(n1,n2):
    return(n1+n2)
n1=int(input("enter the num1"))
n2=int(input("enter the num2"))
print(add(n1,n2))

enter the num16
enter the num27
13

In [29]:
add(n1,n2)

13

In [3]:
#paliandrome function without argument
def paliandrome():
    s=input("enter the string\n")
    if s==s[::-1]:
        print("paliandrome")
    else:
        print("not paliandrome")
paliandrome()

enter the string
hhhjj
not paliandrome

In [4]:
#function with argument
def paliandrome(s):
    if s==s[::-1]:
        print("paliandrome")
    else:
        print("not paliandrome")
paliandrome("malayalam")

paliandrome

In [6]:
paliandrome("malayalam")

paliandrome

In [7]:
#function with argument and return type
def paliandrome(s):
    if s==s[::-1]:
        return("paliandrome")
    else:
        return("not paliandrome")
print(paliandrome("abcd"))

not paliandrome

In [ ]:
#to set calculator problem
#options
#1,add
#2,subtraction
#3,multiplication
#4,divison
def add(x,y):
    return (x+y)
def sub(x,y):
    return(x-y)  
def mult(x,y):
    return(x*y)
def div(x,y):
    return(x/y)
while True:
    option=int(input("select option\n1 add\n2 sub\n3 mult\n4 div\n5 stop"))
    num1=int(input("enter the num1\t"))
    num2=int(input("enter the num2\t"))
    if option==1:
        print(add(num1,num2))
    elif option==2:
        print(sub(num1,num2))
    elif option==3:
        print(mult(num1,num2))
    elif option==4:
        print(div(num1,num2))
    elif option==5:
        break
    else:
        print("invalid input")

select option
1 add
2 sub
3 mult
4 div
5 stop2
enter the num1	22
enter the num2	6
16
select option
1 add
2 sub
3 mult
4 div
5 stop6
enter the num1	6
enter the num2	9
invalid input

In [1]:
#prime number
n=int(input ("enter the number"))
for i in range(2,n):
    if n%i==0:
        print("not prime")
    
        break
else:
    print("prime")

enter the number7
prime

In [3]:
#first 10 numbers of fibonacci sereis using for loop 
n1=0
n2=1
for i in range (10):
    print(n1)
    n=n1+n2
    n1=n2
    n2=n

0
1
1
2
3
5
8
13
21
34

In [4]:
#first 10 numbers of fibonacci sereis using while loop 
n1=0
n2=1
i=0
while i<10:
    print(n1)
    n=n1+n2
    n1=n2
    n2=n
    i=i+1

0
1
1
2
3
5
8
13
21
34

In [6]:
def fibonacci(nterms):
    n1=0
    n2=1
    i=0
    while i<nterms:
        print(n1)
        n=n1+n2
        n1=n2
        n2=n
        i=i+1
nterms=int(input("enter the count"))
fibonacci(nterms)

enter the count6
0
1
1
2
3
5

In [4]:
#to upper
s="livewire" 
u=s.upper()
print(u)
#TO LOWER
I="SAHARA"
l=I.lower()
print(l)

LIVEWIRE
sahara

In [ ]:
y=3
def prin(y):
    #x=10
    #print(x)
    y=y+3
    print(prin(y))

In [9]:
#Pattern printing
for i in range (5):#rows
    for j in range(i):#columns
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [4]:
for i in range (5,0,-1):#rows
    for j in range (i):#columns
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
for i in range(6):#rows
    for j in range (6):#columns
        print("*", end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [5]:
num=1
for i in range(5):#rows
    for j in range(i):#columns
        print(num, end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [10]:

for i in range(5):#rows
    num=0
    for j in range(i):#columns
        print(num, end=" ")
        num+=1
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
for i in range(5):#rows
    for j in range(i):#columns
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [9]:
for i in range(5):#rows
    for j in range(1):#columns
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [13]:
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet,end=" ")
    
    ascii_value += 1
    print("\n")

Enter number of rows: 5
A

B B

C C C

D D D D

E E E E E

In [3]:
rows = int(input("Enter number of rows: "))
k = 0
i=0
for i in range(1, (rows-i)+1):
    for space in range(1, rows):
        print(end="  ")
    while k!=(2*i-1):
        print("*", end=" ")
        k += 1
    k=0
    print()

Enter number of rows: 5
        *
        * * *
        * * * * *
        * * * * * * *
        * * * * * * * * *

In [20]:
for i=1 in range(0,9):#i=2:0,1,2
    for j=0,1 in range(i+1=2):
        print(i*j, end=" ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56 64

In [ ]:
#data collection 
#set
#list
#dictionary
#tuple

In [4]:
#set
a={1,2,3,4}
a

{1, 2, 3, 4}

In [5]:
b={1,3,2,4,5}
b#not follow given order

{1, 2, 3, 4, 5}

In [6]:
#to check the type of data collection 
print(type(a))

<class 'set'>

In [5]:
#set is heterogenous
a={1,2,3,5,4, "hello", 5.9, False }
a

{1, 2, 3, 4, 5, 5.9, False, 'hello'}

In [6]:
#doesnt support duplicates
a={1,2,3,5,4, "hello", 5.9, False,1,2,3,5,4, "hello", 5.9, False }
a

{1, 2, 3, 4, 5, 5.9, False, 'hello'}

In [7]:
a={True, False}
a

{False, True}

In [8]:
a={1,2,3,5,4, "hello", 5.9, False }
for i in a:
    print(i)

False
1
2
3
4
5
5.9
hello

In [9]:
#empty set
set1=set()
print(type(set1))

<class 'set'>

In [10]:
#to add element
set1=set()
set1.add(4)
set1

{4}

In [7]:
#to interchange set
a={1,2,3,4,5,6}
b=set()
for i in a:
    b.add(i)
print(b)

{1, 2, 3, 4, 5, 6}

In [8]:
#to print postive negative num in different sets
s={1,-2,3,-4,5,-6}
pos=set()
neg=set()
for i in s:
    if i>0:
        pos.add(i)
    else:
        neg.add(i)      
print(pos,neg)

{1, 3, 5} {-6, -4, -2}

In [ ]:
#To print even  ,odd in different sets
s={1,2,3,4,4,55,66,9,43,67,89}
ev=set()
od=set()
for i in s:
    if i%2==0:
        ev.add(i)
    else:
        od.add(i)
print(ev, od)

In [13]:
#to find the cube
s={1,2,3,4,5,6}
cube=set()
for i in s:
    a=i**3
    cube.add(a)
print(cube)

{64, 1, 8, 216, 27, 125}

In [14]:
#to remove an element from set
a={1,2,3,4,5,6}
a.remove(3)
print(a)

{1, 2, 4, 5, 6}

In [15]:

a.remove(4)
print(a)

{1, 2, 5, 6}

In [16]:
#to remove all the elements from a set
a={1,2,3,4}
a.clear()
print(a)

set()

In [ ]:
#to delete the set
a={1,2,3,4}
del(a)

In [ ]:
#set is mutable
#set cannot support indexing and slicing

In [14]:
#set does not support nesting in python
a={2,3,{2,3}}
print(a)

TypeError: unhashable type: 'set'

In [18]:
#find common elements
a={1,2,3,4}
b={1,3,6,7,8}
common=set()
for i in a:
    if i in b:
        common.add(i)
print(common)

{1, 3}

In [19]:
a={1,2,3,4}
b={1,3,6,7,8}
#intersection->take common eleements
print(a.intersection(b))

{1, 3}

In [20]:
#set operations
#union->Total elements
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))
#intersection->take common eleements
print(a.intersection(b))

{1, 2, 3, 4, 5, 6}
{3, 4}

In [21]:
a={1,2,3,4}
b={3,4,5,6}#difference
print(a.difference(b))#a-b

{1, 2}

In [22]:
a={1,2,3,4}
b={3,4,5,6}
print(b.difference(a))#b-a

{5, 6}

#list

In [1]:
#square braces are used for list
l=[1,2,3,4,5]
print(type(l))

<class 'list'>

In [2]:
#keeps order
#heterogenous
#supports duplication 
L=[8,10,7,2,1,8]
s=[1,2,3,1,2,3,"hello", "hello", False]
print(s)
print(L)

[1, 2, 3, 1, 2, 3, 'hello', 'hello', False]
[8, 10, 7, 2, 1, 8]

In [3]:
#empty list
list1=[]
print(type(list1))

<class 'list'>

In [1]:
#to add elements in a list
list1=[]
list1.append(4)
print(list1)

[4]

In [2]:
list1.append("hello")
list1.append(7.5)
print(list1)

[4, 'hello', 7.5]

In [4]:
#to print square of elements in a list
l=[1,2,3,4,5]
cube=[]
for i in l:
    cube.append(i**3)
print(cube )

[1, 8, 27, 64, 125]

In [4]:
#to remove elements
list1=[1,2,3,4,5,6,7,8,9]
list1.remove(list1[7])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 9]

In [9]:
#to remove every entire elements 
list1=[1,2,3,6,4,5]
list1.clear()
print(list1)

[]

In [15]:
list1=[1,2,3,6,4,5,6]
list1[3]

6

In [8]:
#toremove the list itself
list1=[1,2,3,4,5,6,7,8,9]
del(list1)
#list is mutable
#to to get the last element of the list
list=[1,2,3]
list.pop()

3

In [16]:
#indexing and slicing are supported by the list
#nesting supported by the list
l=[9,0,8,7]
l.append([5,7])
print(l)

[9, 0, 8, 7, [5, 7]]

In [ ]:
#to find the duplicate elements

In [17]:
l=[1,2,3,1,2,3,4,5,6,4,5,6]
list1=[]
for i in l:
    if i not in list1:
        list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6]

In [18]:
#example of indexing
l=[1,2,3,"hello",4.7]
print(l[0])
print(l[-1])
print(l[::-1])

1
4.7
[4.7, 'hello', 3, 2, 1]

In [19]:
lis=[1,2,3,4,5,6,7,8,9,10]
prime=[]
nonprime=[]
for num in lis:
    for i in range(2,num):
        if num%i==0:
            nonprime.append(num)
            break
        else: 
            prime.append(num)
            break
print(prime)
print(nonprime)

[3, 5, 7, 9]
[4, 6, 8, 10]

In [ ]:
#nesting in list
l=[1,2,3,[4,5]]
print(l)

In [20]:
l=[1,2,3,4,5]
l[0]=100
print(l)

[100, 2, 3, 4, 5]

In [1]:
#common elements1
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9,0]
for i in l1:
    if i in l2:
        print(i)

4
5
6

In [4]:
# to convert list into set
l1=[1,2,3,4,5,6]
#a=set(l1)
#convert set into list
l2=[1, 2, 3]
#s=set(l2)
#print(s)
#print(a)
print(list(set(l1).intersection(set(l2))))

[1, 2, 3]

In [10]:
#to sort the list
list1=[8,5,3,1,4,9,7]
list1.sort()
print(list1)#ascending
print(list1[::-1])#descending

[1, 3, 4, 5, 7, 8, 9]
[9, 8, 7, 5, 4, 3, 1]

In [3]:
#to print min of list 1
l1=[0,2,1,3,4,-1]
print(min(l1))

-1

In [2]:
#to print max of list 1
l1=[5,2,1,3,4,]
print(max(l1))

5

In [1]:
#to print length of list 1
l1=[0,2,1,3,4]
print(len(l1))

5

In [8]:
#to print sum of list 1
l1=[0,2,1,3,4,]
print(sum(l1))

10

In [11]:
l1=[5,2,1,3,4,]
min=l1[0]
max=l1[0]
for i in l1:
    if i<min:
        min=i
    elif i>max:
        max=i
print(max,"\n",min)

5
 1

In [13]:
#to find the mid element
l=[1,2,3,4,5]
len(l)
lastindex=len(l)-1
print(lastindex)
mid=lastindex//2
print(mid)
print(l[mid])

4
2
3

In [4]:
5//2

2

In [2]:
a=[1,2,3]
b=4,5,6
a.append(b)
print(a)

[1, 2, 3, (4, 5, 6)]

In [15]:
a=[1,2,3]
b=4,5,6
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [16]:
#list comprehension
l=[1,2,3,4,5]
cube=[]
for i in l:
    cube.append(i**3)
print(cube)

[1, 8, 27, 64, 125]

In [17]:
l=[1,2,3,4,5]
cube=[i**3 for i in l]
print(cube)

[1, 8, 27, 64, 125]

In [18]:
#to find the positive &neg numbers in alist
l=[-1,-2,-3,5,4,-9,10]
pos=[i for  i in l if i>0 ]
print(pos)
neg=[i for  i in l if i<0 ]
print(neg)

[5, 4, 10]
[-1, -2, -3, -9]

In [3]:
#to find the  even numbers in alist
even=[i for i in range(1,20) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#to find the positive even numbers in alist
l=[-1,-2,3,-4,5,6,7,8,9]
poseven=[i for i in l if i%2==0 and i>0]
print(poseven)

In [ ]:
#tuple

In [1]:
 #immutable
tup1=(1,2,3,4)
print(tup1)
print(type(tup1))

(1, 2, 3, 4)
<class 'tuple'>

#heterogenous

#keeps order

#support indexing &slicing

#supports duplication

#iterable

#immutable

#supports nesting

In [2]:
tup1=(1,2,3.2,"hello","hello")
print(tup1)
for i in tup1:
    print(i)
print(tup1[1:3:1])

(1, 2, 3.2, 'hello', 'hello')
1
2
3.2
hello
hello
(2, 3.2)

In [ ]:
#types of tuple

In [3]:
#empty tuple
tup1=()
print(tup1)
print(type(tup1))

()
<class 'tuple'>

In [5]:
#single elmenttuple single element tuple needs comma
tupl=1,2,
print(tupl)
print(type(tupl))

(1, 2)
<class 'tuple'>

In [5]:
#integer tuple
tup2=(1,2,3,4)
print(tup2)
print(type(tup2))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#float tuple
tup2=(1.2,2.3,3.3,4.4)
print(tup2)
print(type(tup2))

In [ ]:
#string tuple, boolean, tuple with mixed datatype

In [5]:
t=(1,0,3,4,5)

print(max(t))
print(min(t))

5
0

In [10]:
t=('a','p','p','l','e')
print(t.count('p'))
print(t.index('l'))
print(max(t))
print(min(t))

2
3
p
a

In [ ]:
#to print sum
p=(1,2,3)
print(sum(p))

In [8]:
#tuple unpacking
t=(1,2,3)
a,b,c=t
print(a)
print(b)
print(c)

1
2
3

In [9]:
#to find total of elements of tuple unpacking
t=(1,2,3,55)
a,b,c,d=t
print(a+b+c+d)

61

DICTIONARY

In [10]:
DICT={'ANU','KOCHI',23}
print(type(DICT))

<class 'set'>

In [11]:
DICT={'NAME':'ANU',"PLACE":"KOCHI","AGE":23}
print(type(DICT))
print(DICT)

<class 'dict'>
{'NAME': 'ANU', 'PLACE': 'KOCHI', 'AGE': 23}

In [ ]:
#KEEPSorder
#heterogenous
#duplication supports for values
#

In [1]:
DICT={"NAME":'ANU',"PLACE":"KOCHI","AGE":23}
print(type(DICT))
print(DICT)
for i in DICT:
    print(i)
    #key only

<class 'dict'>
{'NAME': 'ANU', 'PLACE': 'KOCHI', 'AGE': 23}
NAME
PLACE
AGE

In [2]:
#INDEXING DO NOT SUPPORT
print(DICT["PLACE"])

KOCHI

In [1]:
DICT={"NAME":'ANU',"PLACE":"KOCHI","AGE":23}
print(type(DICT))
print(DICT)
for i in DICT:
    print(DICT[i])

<class 'dict'>
{'NAME': 'ANU', 'PLACE': 'KOCHI', 'AGE': 23}
ANU
KOCHI
23

In [3]:
#inbuilt function
print(DICT.keys())

dict_keys(['NAME', 'PLACE', 'AGE'])

In [4]:
print(DICT.values())

dict_values(['ANU', 'KOCHI', 23])

In [3]:
DICT={"NAME":'ANU',"PLACE":"KOCHI","AGE":23}
e=input("enter the key to check\n")
if e in DICT.keys():
    print("present")
else:
    print("not present")

enter the key to check
STATUS
not present

In [5]:
D={1:'a', 2:'b', 3:'c'}
def keycheck(e):
    if e in D:
        print("present")
    else:
        print("not present") 
keycheck(4)

not present

In [6]:
keycheck(4)

not present

In [ ]:
D={1:'a', 2:'b', 3:'c',4:{5:'d'}}
print(D)#nesting is possible

In [2]:
#dict is mutable
dict={3:"hi", 4:"hello"}
print(dict)

{3: 'hi', 4: 'hello'}

In [3]:
#to add element
dict.update({1:"hi", 2:"hello"})
print(dict)

{3: 'hi', 4: 'hello', 1: 'hi', 2: 'hello'}

In [7]:
d={}
print(type(d))

<class 'dict'>

In [6]:

d[1]="world"
print(d)

<class 'dict'>
{1: 'world'}

In [8]:
#to remove element
dict={"NAME":'ANU',"PLACE":"KOCHI","AGE":23}
del dict["AGE"]
print(dict)

{'NAME': 'ANU', 'PLACE': 'KOCHI'}

In [9]:
#to remove all the elements
dict.clear()

In [10]:
print(dict)

{}

In [7]:
#split method
s="livewire sahara"
a=s.split(" ")
print(a)
for i in a:
    print(i)

['livewire', 'sahara']
livewire
sahara